{% extends "network/layout.html" %}
{% load static%}

{% block body %}
    {% if user.is_authenticated %}
        <p class="fs-3 fw-bold ms-3">All Posts</p>
        <div class="card border p-3 w-30 ms-3">
            <p class="fs-4 fw-bold">New Post</p>
            <form id="post">
                <div class="form-floating">
                    <textarea class="form-control" id="content" style="height: 100px"></textarea>
                    <label for="floatingTextarea2">content</label>
                </div>
                <div class="d-flex justify-content-left mt-1">
                    <button class="btn btn-primary" type="submit">Post</button>
                </div>
            </form>
        </div>
    {% endif %}

    {% for post in posts %}
        <div class="card border p-3 w-30 ms-3 mt-1" id="post-div-{{ post.id }}">
            <p class="fs-5 fw-bold">
                <a href="{% url 'profile' post.user.username %}" class="text-decoration-none text-dark">
                    {{ post.user }}
                </a>
            </p>            
            {% if request.user == post.user %}
                <a href="#" class="editpost text-primary fw-bold" data-id="{{ post.id }}" style="text-decoration: none;">Edit</a>
            {% endif %}
            <p class="fs-5 text-dark mb-2" id="post-content-{{ post.id }}" style="line-height: 1.6;">{{ post.content }}</p>
            <p class="fs-6">{{ post.timestamp }}</p>
        </div>
    {% endfor %}
{% endblock %}

{% block script %}
    <script src="{% static 'network/newpost.js' %}"></script>
    <script src="{% static 'network/editpost.js' %}"></script>
{% endblock %}
