{% extends "network/layout.html" %}
{% load static%}

{% block body %}
    {% if user.is_authenticated %}
        <p class="fs-3 fw-bold ms-3">All Posts</p>
        <div class="card border p-3 w-30 ms-3">
            <p class="fs-4 fw-bold">New Post</p>
            <form id="post">
                <div class="form-floating">
                    <textarea class="form-control" id="content" style="height: 100px"></textarea>
                    <label for="floatingTextarea2">content</label>
                </div>
                <div class="d-flex justify-content-left mt-1">
                    <button class="btn btn-primary" type="submit">Post</button>
                </div>
            </form>
        </div>
    {% endif %}
        
    {% for post in posts %}
        <div class="card border p-3 w-30 ms-3 mt-1" id="post-div-{{ post.id }}">
            <p class="fs-5 fw-bold">
                <a href="{% url 'profile' post.user.username %}" class="text-decoration-none text-dark">
                    {{ post.user }}
                </a>
            </p>            
            {% if request.user == post.user %}
                <a href="#" class="editpost text-primary fw-bold" data-id="{{ post.id }}" style="text-decoration: none;">Edit</a>
            {% endif %}
            <p class="fs-5 text-dark mb-2" id="post-content-{{ post.id }}" style="line-height: 1.6;">{{ post.content }}</p>
            {% if post.been_edited %}
                <p class="fs-6">{{ post.timestamp }} <strong>(edited)</strong></p>
            {% else %}
                <p class="fs-6" id="post-timestamp-{{ post.id }}">{{ post.timestamp }}</p>
            {% endif %}

            {% if post.id in liked_posts_ids %}
                <button id="button-like-{{ post.id }}" class="like-btn liked p-2 border border-1 rounded small-card d-inline-flex align-items-center" style="display: inline-block; width: 55px" data-post-id="{{ post.id }}" {% if request.user == post.user %}disabled{% endif %}>
                    <span class="fs-5" style="color: red;" id="post-like-{{ post.id }}">&#9825;</span>
                    <span class="ms-2" id="likes-count-{{ post.id }}">{{ post.likes }}</span>
                </button>
            {% else %}
                <button id="button-like-{{ post.id }}" class="like-btn unliked p-2 border border-1 rounded small-card d-inline-flex align-items-center" style="display: inline-block; width: 55px" data-post-id="{{ post.id }}" {% if request.user == post.user %}disabled{% endif %}>
                    <span class="fs-5" style="color: red;" id="post-like-{{ post.id }}">&#9825;</span>  
                    <span class="ms-2" id="likes-count-{{ post.id }}">{{ post.likes }}</span>
                </button>
            {% endif %}
        </div>
    {% endfor %}
    <nav class="d-flex justify-content-center mt-2">
        <ul class="pagination pagination-lg">
          {% for page_num in total_pages %}
            <li class="page-item {% if page_num == page_obj.number %}active{% endif %}" id="page-num-{{ page_num }}"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
          {% endfor %}   
        </ul>
    </nav>
{% endblock %}

{% block script %}
    <script src="{% static 'network/newpost.js' %}"></script>
    <script src="{% static 'network/editpost.js' %}"></script>
    <script src="{% static 'network/like.js' %}"></script>
{% endblock %}
