{% extends 'network/layout.html' %}
{% load static %}

{% block body %}

<div class="container-fluid bg-success bg-opacity-10 border w-100">
    <div class="d-flex flex-column justify-content-center align-items-center mb-3" style="margin-top: 20px;">
        <!-- Profile Image -->
        <img src="https://i.pinimg.com/474x/07/c4/72/07c4720d19a9e9edad9d0e939eca304a.jpg" alt="Profile Picture" class="rounded-circle" style="width: 150px; height: 150px; object-fit: cover;">
        
        <!-- Username -->
        <p class="fw-semibold fs-3 mt-3" id="username" data-username="{{ request.user.username }}">{{ user_profile.username }}</p>
        
        <!-- Followers and Following -->
        <div class="mt-1 d-flex justify-content-center">
            <div class="mx-3 text-center">
                <p class="fs-5 mb-0">Followers</p>
                <p class="fs-4 fw-bold mb-0" id="followings_count">{{ followers }}</p>
            </div>
            <div class="mx-3 text-center">
                <p class="fs-5 mb-0">Followings</p>
                <p class="fs-4 fw-bold mb-0" id="followers_count">{{ followings }}</p>
            </div>
        </div>
        {% if request.user != user_profile %}
            {% if not is_following %}
                <button id="follow" class="btn btn-outline-primary mt-3" style="transition: transform 0.2s ease-in-out;">Follow</button>
            {% else %}
                <button id="follow" class="btn btn-outline-primary mt-3" style="transition: transform 0.2s ease-in-out;">Unfollow</button>
            {% endif %}
        {% endif %}
    </div>
</div>

<div class="container-fluid bg-light border">
    <div class="d-flex flex-collumn justify-content-center">
        {% if user_profile != request.user %}
            <p class="fs-3 fw-bold mt-2">{{ user_profile }} Posts</p>
        {% else %}
            <p class="fs-3 fw-bold mt-2">Your Posts</p>
        {% endif %}
    </div>
    {% for post in posts %}
        <div class="card border p-3 w-30 ms-3 mt-1" id="post-div-{{ post.id }}">
            <p class="fs-5 fw-bold">
                <a href="{% url 'profile' post.user.username %}" class="text-decoration-none text-dark">
                    {{ post.user }}
                </a>
            </p>            
            {% if request.user == post.user %}
                <a href="#" class="editpost text-primary fw-bold" data-id="{{ post.id }}" style="text-decoration: none;">Edit</a>
            {% endif %}
            <p class="fs-5 text-dark mb-2" id="post-content-{{ post.id }}" style="line-height: 1.6;">{{ post.content }}</p>
            {% if post.been_edited %}
                <p class="fs-6">{{ post.timestamp }} <strong>(edited)</strong></p>
            {% else %}
                <p class="fs-6" id="post-timestamp-{{ post.id }}">{{ post.timestamp }}</p>
            {% endif %}

            {% if post.id in liked_posts_ids %}
                <button id="button-like-{{ post.id }}" class="like-btn liked p-2 border border-1 rounded small-card d-inline-flex align-items-center" style="display: inline-block; width: 55px" data-post-id="{{ post.id }}" {% if request.user == post.user %}disabled{% endif %}>
                    <span class="fs-5" style="color: red;" id="post-like-{{ post.id }}">&#9825;</span>
                    <span class="ms-2" id="likes-count-{{ post.id }}">{{ post.likes }}</span>
                </button>
            {% else %}
                <button id="button-like-{{ post.id }}" class="like-btn unliked p-2 border border-1 rounded small-card d-inline-flex align-items-center" style="display: inline-block; width: 55px" data-post-id="{{ post.id }}" {% if request.user == post.user %}disabled{% endif %}>
                    <span class="fs-5" style="color: red;" id="post-like-{{ post.id }}">&#9825;</span>  
                    <span class="ms-2" id="likes-count-{{ post.id }}">{{ post.likes }}</span>
                </button>
            {% endif %}
        </div>
    {% endfor %}
</diV>

{% endblock %}

{% block script %}
    <script src="{% static 'network/follow.js' %}"></script>
    <script src="{% static 'network/like.js' %}"></script>
{% endblock %}