{% extends 'network/layout.html' %}
{% load static %}

{% block body %}

<div class="container-fluid bg-success bg-opacity-10 border w-100">
    <div class="d-flex flex-column justify-content-center align-items-center mb-3" style="margin-top: 20px;">
        <!-- Profile Image -->
        <img src="https://i.pinimg.com/474x/07/c4/72/07c4720d19a9e9edad9d0e939eca304a.jpg" alt="Profile Picture" class="rounded-circle" style="width: 150px; height: 150px; object-fit: cover;">
        
        <!-- Username -->
        <p class="fw-semibold fs-3 mt-3" id="username" data-username="{{ request.user.username }}">{{ user_profile.username }}</p>
        
        <!-- Followers and Following -->
        <div class="mt-1 d-flex justify-content-center">
            <div class="mx-3 text-center">
                <p class="fs-5 mb-0">Followers</p>
                <p class="fs-4 fw-bold mb-0" id="followings_count">{{ followers }}</p>
            </div>
            <div class="mx-3 text-center">
                <p class="fs-5 mb-0">Followings</p>
                <p class="fs-4 fw-bold mb-0" id="followers_count">{{ followings }}</p>
            </div>
        </div>
        {% if request.user != user_profile %}
            {% if not is_following %}
                <button id="follow" class="btn btn-outline-primary mt-3" style="transition: transform 0.2s ease-in-out;">Follow</button>
            {% else %}
                <button id="follow" class="btn btn-outline-primary mt-3" style="transition: transform 0.2s ease-in-out;">Unfollow</button>
            {% endif %}
        {% endif %}
    </div>
</div>

<div class="container-fluid bg-light border">
    <div class="d-flex flex-collumn justify-content-center">
        {% if user_profile != request.user %}
            <p class="fs-3 fw-bold mt-2">{{ user_profile }} Posts</p>
        {% else %}
            <p class="fs-3 fw-bold mt-2">Your Posts</p>
        {% endif %}
    </div>
    {% for post in posts %}
        <div class="card border p-3 w-30 ms-3 mt-1">
            <p class="fs-5 fw-bold text-decoration-none text-dark">{{ post.user }}</p>              
            {% if request.user == post.user %}
                <a href="#" class="text-primary fw-bold" style="text-decoration: none;">Edit</a>
            {% endif %}
            <p class="fs-5 text-dark mb-2" style="line-height: 1.6;">{{ post.content }}</p>
            <p class="fs-6">{{ post.timestamp }}</p>
        </div>
    {% empty %}
        <div class="d-flex justify-content-center align-items-center" style="height: 40vh;">
            <p class="fs-4 fw-semibold text-secondary text-center">{{ user_profile }} has no posts yet</p>
        </div>
    {% endfor %}
</diV>

{% endblock %}

{% block script %}
    <script src="{% static 'network/follow.js' %}"></script>
{% endblock %}